<h1>Sinatra ..... atraniS</h1>
<p>Let's reverse some string</p>
<form action="/reverse" method="post" accept-charset="utf-8">
	<input type="text" name="post[in]" value="Type something" id="in" /><br />
	<input type="submit" value="Reverse!">
</form>

